@import url('https://fonts.cdnfonts.com/css/batman-forever');
:root{
    --green: rgb(0, 255, 0);
    --grey: #222;
    --fontcolor: #ccc;
}
html{
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #444 #2a2a2a ;
}
body{
    margin: 0;
    background-color: #333;
    color: var(--fontcolor);
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
    height: auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
}
#top{
    z-index: 50;
}
#main{
    margin-top: 1rem;
}
#top-banner{
    height: 50lvh;
    background-image: url(/assets/img/top-banner.png);
    background-size: cover;
    background-position: 0% 80%;
    background-attachment: fixed;
}
#heading{
    font-family: 'BatmanForeverAlternate', sans-serif;
    font-size: 800%;
    color: var(--green);
    filter: drop-shadow(0px 0px 2px var(--grey));
}
.section{
    scroll-snap-align: top;
    margin-top: 5px;
    height: 110lvh;
    position: sticky;
    top: 0;
    padding: 2px;
    background-image: linear-gradient(var(--green) 0%, var(--grey) 100%);
}
.inner_section{
    width: 100%;
    height: 100%;
    background-color: var(--grey);
}
#section2{
    padding-left: 5rem;
}
#section2 h2:nth-child(1){
    margin-top: 5rem;
}
/*OTP input*/
#otp_outer_box{
    width: 50lvw;
    text-align: center;
    margin-top: 5rem;
}
input{
    width: 2rem;
    min-height: 3.3rem;
    padding: .1rem;
    font-size: 300%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--grey);
    border: 2px solid var(--fontcolor);
    border-radius: 5px;
    caret-color: var(--fontcolor);
}
input:focus{
    outline: none;
    border: 2px solid limegreen;
    filter: drop-shadow(0px 0px 3px limegreen);
}
#succsess{
    display: none;
}
#footer{
    height: 3rem;
    border-top: 1px solid var(--fontcolor);
}
#footer .footerlink{
    margin-inline: 1%;
    transition: all .2s;
    font-family: 'Courier New', Courier, monospace;
}
#footer .footerlink:hover{
    text-decoration: underline;
}
/* Fortschritt */
#content{
    width: 90%;
    margin-inline: auto;
    margin-bottom: 2rem;
}
#check{
    padding-top: 1rem;
}
.teilfortschritt{
    height: 10rem;
}
.status{
    margin-inline: auto;
    width: 90%;
    height: 2rem;
    border: 3px solid var(--fontcolor);
}
.statusbar{
    background-color: var(--green);
    height: 100%;
}
.pagelink{
    background-color: var(--green);
    color: var(--grey);
    display: flex;
    width: 30%;
    height: 2rem;
    border-radius: 10px;
    margin-inline: 1%;
}
@media (max-width:600px) {
    html{
        scrollbar-width: none;
    }
    #top-banner{
        height: 20lvh;
        background-size: 200%;
        background-position: 50% -10%;
    }
    #heading{
        font-size: 200%;
        color: var(--green);
        filter: none;
    }
    #section2{
        padding-left: 0rem;
    }
    #otp_outer_box{
        width: 100%;
    }
    .flex{
        display: block;
    }
    .pagelink{
        width: 100%;
        margin-bottom: .5rem;
    }
}